<div class="container-flow">
    <div class="row">
        <div class="statisticalChartContainer" style="padding-top: 30px;">
            <div class="statistical-info-cards">
                <div class="statistical-card">
                    <div class="card-info">
                        <div class="statistical-data">
                            880
                        </div>
                        <div class="statistical-info">
                            Parts with Active Events
                        </div>
                    </div>
                </div>

                <div class="statistical-card">
                    <div class="card-info">
                        <div class="statistical-data">
                            371
                        </div>
                        <div class="statistical-info">
                            Parts Impacted
                        </div>
                    </div>
                </div>

                <div class="statistical-card">
                    <div class="card-info">
                        <div class="statistical-data">
                            703
                        </div>
                        <div class="statistical-info">
                            Active Events
                        </div>
                    </div>
                </div>

                <div class="statistical-card">
                    <div class="card-info">
                        <div class="statistical-data">
                            13
                        </div>
                        <div class="statistical-info">
                            Flagged
                        </div>
                    </div>

                </div>

                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>