<nav class="navbar navbar-expand-lg brand">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="silicon_brand.png" alt=""></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="d-flex">
                <input class="form-control me-3" id="searchbar" placeholder="Search parts">
            </form>

            <div style="color: #dce3e8;">
                Saved Searches ∨
            </div>

        </div>
    </div>
</nav>