<div class="container-flow">
    <div class="row" style="padding: 0 15px; margin: 20px 0; height: 2vh;">
        <div class="col controls" style="padding: 0; margin: 0; height: 2vh;">
            <div class="seeAllEvents">
                <input type="checkbox" style="margin-right: 5px;">
                <label class="controlsIcons">See all events</label>
            </div>

            <div class="zendesk">
                <i class="fa-solid fa-comment controlsIcons"></i>
            </div>

            <div class="alert" style="padding: 0; margin: 0;">
                <i class="fa-solid fa-bell controlsIcons"></i>
            </div>

            <div class="searchEvents">
                <i class="fa-solid fa-magnifying-glass controlsIcons"  style="padding-right: 10px;"></i><span class="controlsIcons">Search Events</span>
            </div>

            <div class="download">
                <i class="fa-solid fa-download controlsIcons"></i>
            </div>

            <div class="filter">
                <i class="fa-solid fa-circle-chevron-down controlsIcons" style="padding-right: 10px;"></i> Filter
            </div>
        </div>
    </div>
</div>