.tab {
    color: #0078a5;
    padding: 13px 14px 9px;
    text-decoration: none;
    display: inline;    
}

.tab a {
    text-decoration: none;
    color: #0078a5;
}

.tab a:visited {
    text-decoration: none;
    color: #0078a5;
}

.tabs {
    border-bottom: 1px solid #ddd;
    display: flex;
    margin-left: 15px;

}

