<app-title></app-title>
<app-tabs></app-tabs>
<app-controls></app-controls>
<app-statistical-chart></app-statistical-chart>
<app-map></app-map>
<div class="container-flow">
    <div class="row">
        <div class="col-6">
            <app-events-list></app-events-list>
        </div>
        <div class="col-6">
            <div class="charts">
               
                <button class="btn btn-primary m-2" (click)="changeType('line')">Line</button>
                <button class="btn btn-primary m-2" (click)="changeType('bar')">Bar</button>
                <button class="btn btn-primary m-2" (click)="changeType('doughnut')">Doughnut</button>
                <button class="btn btn-primary m-2" (click)="changeType('radar')">Radar</button>
                <button class="btn btn-primary m-2" (click)="changeType('pie')">Scatter</button>
                <app-charts [data]="data" [labels]="labels" [chartType]="chartType"></app-charts>
            </div>
        </div>
    </div>
</div>
