<div class="container-flow sideBar">
    <div class="menu">
        <ol style=" list-style-type: none;">
            <li><a href="#" class="navLinks"><i class="fa-solid fa-calendar-check"
                        style="margin-right: 15px;"></i>Dashboard</a></li>
            <li><a href="#" class="navLinks"><i class="fa-solid fa-globe"
                        style="margin-right: 15px;"></i>Find Parts</a>
            <li><a href="#" class="navLinks"><i class="fa-solid fa-globe"
                        style="margin-right: 15px;"></i>BOMs / Projects</a>
            <li><a href="#" class="navLinks"><i class="fa-solid fa-globe"
                        style="margin-right: 15px;"></i>Approved Lists</a>
            <li><a href="#" class="navLinks"><i class="fa-solid fa-globe"
                        style="margin-right: 15px;"></i>Reports</a>
            <li><a href="#" class="navLinks"><i class="fa-solid fa-globe"
                        style="margin-right: 15px;"></i>Supply Chain Risk</a>
        </ol>
    </div>
</div>