<input type="radio" class="form-check-input m-2" name="chart-type" id="line" (change)="changeType('line')">Line Chart
<input type="radio" class="form-check-input m-2" name="chart-type" id="bar" (change)="changeType('bar')" >Bar Chart
<input type="radio" class="form-check-input m-2" name="chart-type" id="doughnut" (change)="changeType('doughnut')">Doughnut Chart
<input type="radio" class="form-check-input m-2" name="chart-type" id="radar" (change)="changeType('radar')"> Radar Chart
<input type="radio" class="form-check-input m-2" name="chart-type" id="scatter" (change)="changeType('pie')"> Pie Chart
<app-charts [data]="data_P" [labels]="labels_P" [chartType]="chartType_P"></app-charts>