<div class="container-flow">
    <div class="row">
        <div class="col">
            <div class="mapContainer">
                <div class="map" style="padding: 16px">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27620.59088293804!2d31.342592!3d30.077747199999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145815f8139c47a3%3A0xc1744516bae86a18!2sCitystars%20Mall!5e0!3m2!1sen!2seg!4v1728002963033!5m2!1sen!2seg"
                        width="1320" height="350vh" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>